<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1> Welcome, <%= @customer.name %></h1>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>

<%= link_to 'Change Your Details', edit_customer_path(@customer), method: :get %>

<br />

<h3>Your Orders:</h3>
<table class="order-items">
	<th>Date</th>
	<th>Order No.</th>
	<th>View Order</th>
	<% @customer.orders.each do |order| %>
		<tr>
			<td><%= order.created_at.strftime("%d %b. %Y") %></td>
			<td><%= order.id %></td>
			<td><%= link_to 'Show',  "../orders/#{order.id}" %></td>
		</tr>
	<% end %>
</table>




