<% if notice %>
<p id="notice"><%= notice %></p>
<% end %>

<h1> Welcome, <%= @customer.name %></h1>

<p>
  <b>Address:</b>
  <%= @customer.address %>
</p>

<p>
  <b>Email:</b>
  <%= @customer.email %>
</p>
<br />

<h3>Your Orders:</h3>
<table>
	<th>Date</th>
	<th>Order No.</th>
	<th>View Order</th>
	<% @customer.orders.each do |order| %>
		<tr>
			<td><%= order.created_at.strftime("%d %b. %Y")
 %></td>
			<td><%= order.id %></td>
			<% order.line_items.each do |line_item| %>
			<td><%= link_to 'Show',  "../orders/#{order.id}" %></td>
			<% end %>
		</tr>
	<% end %>
</table>



<%= link_to 'Edit', edit_customer_path(@customer) %> |
<%= link_to 'Logout', logout_path, method: :delete %>
